{% extends "@ElegantBootstrapTemplate/page_layout.html.twig" %}

{% block title %}
    <title>{{'Perhitungan'|trans}}</title>
{% endblock %}
{% block content %}
    
        <div class="table-responsive">

        <h4>PROBABILITAS KELAS POKJA</h4>
        <br>
        <table border="5" class="table table-hover">
            <thead class="bg-secondary text-white">
                <tr>
                    <th>No</th>
                    <th scope="col" rowspan="4" class="align-middle text-center">KELAS POKJA</th>
                    <th scope="col" rowspan="2" class="text-center">Jumlah Kelas</th>
                    <th scope="col" rowspan="2" class="text-center">Probabilitas</th>
                </tr>
                <tr>
                </tr>
            </thead>
            <tbody>
                {% set numClass = ['Pokja Pemilihan 212','Pokja Pemilihan 214','Pokja Pemilihan 215','Pokja Pemilihan 216'] %}
                {% for dataClass in dataClass %}
                {% for sumClass in sumClass %}
                {% endfor %}
                <tr>
                    <td>{{loop.index}}</td>
                    <td>{{numClass[loop.index0]}}</td>
                    <td>{{dataClass.kelas}}</td>
                    <td>{{ dump(sumClass)}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
<br>
        <h4>PROBABILITAS PARAMETER</h4>
        <br>
        <table border="5" class="table table-hover">
            <thead class="bg-secondary text-white">
                <tr>
                    <th>No</th>
                    <th scope="col" rowspan="4" class="align-middle text-center">PARAMETER</th>
                    <th scope="col" rowspan="2" class="text-center">Jumlah Kejadian</th>
                    <th scope="col" rowspan="2" class="text-center">Probabilitas</th>
                </tr>
                <tr>
                </tr>
            </thead>
            <tbody>
                <tr>
                </tr>
            </tbody>
        </table>
        
        {{ form_widget(form)}}
            
        </div>
            <h1>Hasil = </h1>
{% endblock %}
{% block form_start %}
    {{ form_start(form) }}
{% endblock %}

{% block form_end %}
    {{ form_end(form) }}
{% endblock %}

{% block actions %}
    <button type="submit" class="btn btn-sm btn-outline-success">
        <span class="fa fa-save"></span>
        {{'Submit'|trans}}
    </button>
{% endblock %}