{% extends "@ElegantBootstrapTemplate/page_layout.html.twig" %}

{% block title %}
    <title>{{'Perhitungan'|trans}}</title>
{% endblock %}
{% block content %}
    {% set parameterClass = ["jenis_pengadaan", "sumber_dana", "jenis_kontrak", "pagu"] %}
        <div class="table-responsive">

        <h4>PROBABILITAS KELAS POKJA</h4>
        <br>
        <table border="5" class="table table-hover">
            <thead class="bg-secondary text-white">
                <tr>
            <th rowspan="2" class="align-middle text-center">KELAS</th>
            <th colspan="4" class="align-middle text-center">JUMLAH</th>
            <th colspan="4" class="align-middle text-center">PROBABILITAS</th>
        </tr>
        <tr>
            <th>POKJA PEMILIHAN 212</th>
            <th>POKJA PEMILIHAN 214</th>
            <th>POKJA PEMILIHAN 215</th>
            <th>POKJA PEMILIHAN 216</th>
            <th>POKJA PEMILIHAN 212</th>
            <th>POKJA PEMILIHAN 214</th>
            <th>POKJA PEMILIHAN 215</th>
            <th>POKJA PEMILIHAN 216</th>
        </tr>
            </thead>
            <tbody>
                <tr>
                    <td>PROBABILITAS KELAS</td>
                    <td>{{pokja.getPokja("POKJA PEMILIHAN 212").kelas}}</td>
                    <td>{{pokja.getPokja("POKJA PEMILIHAN 214").kelas}}</td>
                    <td>{{pokja.getPokja("POKJA PEMILIHAN 215").kelas}}</td>
                    <td>{{pokja.getPokja("POKJA PEMILIHAN 216").kelas}}</td>
                    <td>{{ pokja.getPokja("POKJA PEMILIHAN 212").kelas / (pokja.getPokja("POKJA PEMILIHAN 212").kelas + pokja.getPokja("POKJA PEMILIHAN 214").kelas + pokja.getPokja("POKJA PEMILIHAN 215").kelas + pokja.getPokja("POKJA PEMILIHAN 216").kelas)}} </td>
                    <td>{{ pokja.getPokja("POKJA PEMILIHAN 214").kelas / (pokja.getPokja("POKJA PEMILIHAN 212").kelas + pokja.getPokja("POKJA PEMILIHAN 214").kelas + pokja.getPokja("POKJA PEMILIHAN 215").kelas + pokja.getPokja("POKJA PEMILIHAN 216").kelas)}} </td>
                    <td>{{ pokja.getPokja("POKJA PEMILIHAN 215").kelas / (pokja.getPokja("POKJA PEMILIHAN 212").kelas + pokja.getPokja("POKJA PEMILIHAN 214").kelas + pokja.getPokja("POKJA PEMILIHAN 215").kelas + pokja.getPokja("POKJA PEMILIHAN 216").kelas)}} </td>
                    <td>{{ pokja.getPokja("POKJA PEMILIHAN 216").kelas / (pokja.getPokja("POKJA PEMILIHAN 212").kelas + pokja.getPokja("POKJA PEMILIHAN 214").kelas + pokja.getPokja("POKJA PEMILIHAN 215").kelas + pokja.getPokja("POKJA PEMILIHAN 216").kelas)}} </td>
                    {# <td>{{ classParam.Kelas}}</td>
                    <td>{{ classParam.Jumlah}}</td>
                    <td>{{ classParam.Probabilitas}}</td> #}
                </tr>
            </tbody>
        </table>
        
        <br>
        {% set parameter = ['jenis_pengadaan', 'sumber_dana', 'jenis_kontrak', 'pagu'] %}
        
        {% for parameterClass in parameterClass %}
        <h4>PROBABILITAS PARAMETER {{ parameterClass |upper}}</h4>
        <br>
        <table border="5" class="table table-hover">
            <thead class="bg-secondary text-white">
        <tr>
            <th rowspan="2" class="align-middle text-center">KELAS {{ parameterClass |upper}}</th>
            <th colspan="4" class="align-middle text-center">JUMLAH</th>
            <th colspan="4" class="align-middle text-center">PROBABILITAS</th>
        </tr>
        <tr>
            <th>POKJA PEMILIHAN 212</th>
            <th>POKJA PEMILIHAN 214</th>
            <th>POKJA PEMILIHAN 215</th>
            <th>POKJA PEMILIHAN 216</th>
            <th>POKJA PEMILIHAN 212</th>
            <th>POKJA PEMILIHAN 214</th>
            <th>POKJA PEMILIHAN 215</th>
            <th>POKJA PEMILIHAN 216</th>
        </tr>
            </thead>
            <tbody>
                <tr>
                </tr>
            </tbody>
        </table>
        {% endfor %}
        {{ form_widget(form)}}
            
        </div>
            <h1>Hasil = </h1>
{% endblock %}
{% block form_start %}
    {{ form_start(form) }}
{% endblock %}

{% block form_end %}
    {{ form_end(form) }}
{% endblock %}

{% block actions %}
    <button type="submit" class="btn btn-sm btn-outline-success">
        <span class="fa fa-save"></span>
        {{'Submit'|trans}}
    </button>
{% endblock %}