{% extends "@ElegantBootstrapTemplate/page_layout.html.twig" %}

{% block title %}
    <title>{{'Perhitungan'|trans}}</title>
{% endblock %}
{% block content %}
    {% set parameterClass = ['jenis_pengadaan', 'sumber_dana', 'jenis_kontrak', 'pagu'] %}
        <div class="table-responsive">

        <h4>PROBABILITAS KELAS POKJA</h4>
        <br>
        <table border="5" class="table table-hover">
            <thead class="bg-secondary text-white">
                <tr>
                    <th>No</th>
                    <th scope="col" rowspan="4" class="align-middle text-center">KELAS POKJA</th>
                    <th scope="col" rowspan="2" class="text-center">Jumlah Kelas</th>
                    <th scope="col" rowspan="2" class="text-center">Probabilitas</th>
                </tr>
                <tr>
                </tr>
            </thead>
            <tbody>
                {% for classParam in classParam %}
                <tr>
                    <td>{{loop.index}}</td>
                    <td>{{ classParam.Kelas}}</td>
                    <td>{{ classParam.Jumlah}}</td>
                    <td>{{ classParam.Probabilitas}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <br>
        {% set parameter = ['jenis_pengadaan', 'sumber_dana', 'jenis_kontrak', 'pagu'] %}
        
        {% for parameter in parameter %}
        <h4>PROBABILITAS PARAMETER {{parameter}}</h4>
        <br>
        <table border="5" class="table table-hover">
            <thead class="bg-secondary text-white">
                <tr>
                    <th>No</th>
                    <th scope="col" rowspan="4" class="align-middle text-center">{{parameter}}</th>
                    <th scope="col" rowspan="2" class="text-center">Jumlah Kejadian</th>
                    <th scope="col" rowspan="2" class="text-center">Probabilitas {{parameter}}</th>
                </tr>
                <tr>
                </tr>
            </thead>
            <tbody>
                <tr>
                </tr>
            </tbody>
        </table>
        {% endfor %}
        {{ form_widget(form)}}
            
        </div>
            <h1>Hasil = </h1>
{% endblock %}
{% block form_start %}
    {{ form_start(form) }}
{% endblock %}

{% block form_end %}
    {{ form_end(form) }}
{% endblock %}

{% block actions %}
    <button type="submit" class="btn btn-sm btn-outline-success">
        <span class="fa fa-save"></span>
        {{'Submit'|trans}}
    </button>
{% endblock %}