{% extends "@ElegantBootstrapTemplate/page_layout.html.twig" %}

{% block title %}
    <title>{{'Perhitungan'|trans}}</title>
{% endblock %}
{% block content %}
  <div class="table-responsive">
        <div id="newData" style ="display:none;">
        <h4>DATA KASUS TERBARU</h4>
        <br>
        <table border="5" class="table table-hover">
            <thead class="bg-secondary text-white">
                <tr>
            <th class="align-middle text-center">NAMA POKJA</th>
            <th class="align-middle text-center">JENIS PENGADAAN</th>
            <th class="align-middle text-center">SUMBER DANA</th>
            <th class="align-middle text-center">JENIS KONTRAK</th>
            <th class="align-middle text-center">RANGE PAGU</th>
        </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ dump(pokja.getLeftJoin.nama_pokja)}}</td>
                    <td>{{ pokja.getLeftJoin.nama_jenis_pengadaan}}</td>
                    <td>{{ pokja.getLeftJoin.nama_sumber_dana}}</td>
                    <td>{{ pokja.getLeftJoin.nama_jenis_kontrak}}</td>
                    <td>{{ pokja.getLeftJoin.range_pagu}}</td>
                </tr>
            </tbody>
        </table>

        <h4>PERHITUNGAN DATA KASUS TERBARU</h4>
        <br>
        <table border="5" class="table table-hover">
            <thead class="bg-secondary text-white">
                <tr>
            <th rowspan="2" class="align-middle text-center">KELAS DATA BARU</th>
            <th colspan="4" class="align-middle text-center">JENIS PENGADAAN ()</th>
            <th colspan="4" class="align-middle text-center">SUMBER DANA ()</th>
            <th colspan="4" class="align-middle text-center">JENIS KONTRAK ()</th>
            <th colspan="4" class="align-middle text-center">PAGU ()</th>
            <th colspan="4" class="align-middle text-center">KELAS POKJA</th>
        </tr>
        <tr>
            <th>POKJA PEMILIHAN 212</th>
            <th>POKJA PEMILIHAN 214</th>
            <th>POKJA PEMILIHAN 215</th>
            <th>POKJA PEMILIHAN 216</th>
            <th>POKJA PEMILIHAN 212</th>
            <th>POKJA PEMILIHAN 214</th>
            <th>POKJA PEMILIHAN 215</th>
            <th>POKJA PEMILIHAN 216</th>
            <th>POKJA PEMILIHAN 212</th>
            <th>POKJA PEMILIHAN 214</th>
            <th>POKJA PEMILIHAN 215</th>
            <th>POKJA PEMILIHAN 216</th>
            <th>POKJA PEMILIHAN 212</th>
            <th>POKJA PEMILIHAN 214</th>
            <th>POKJA PEMILIHAN 215</th>
            <th>POKJA PEMILIHAN 216</th>
            <th>POKJA PEMILIHAN 212</th>
            <th>POKJA PEMILIHAN 214</th>
            <th>POKJA PEMILIHAN 215</th>
            <th>POKJA PEMILIHAN 216</th>
        </tr>
            </thead>
            <tbody>
                <tr>
                    <td>PROBABILITAS</td>
                    <td>{{ pokja.getHitung("nama_jenis_pengadaan", "jenis_pengadaan","POKJA PEMILIHAN 212", pokja.getC("nama_jenis_pengadaan", "jenis_pengadaan")[0].parameter).data / pokja.getPokja("POKJA PEMILIHAN 212").kelas}}</td>
                    <td>{{ pokja.getHitung("nama_jenis_pengadaan", "jenis_pengadaan","POKJA PEMILIHAN 214", pokja.getC("nama_jenis_pengadaan", "jenis_pengadaan")[0].parameter).data / pokja.getPokja("POKJA PEMILIHAN 214").kelas}}</td>
                    <td>{{ pokja.getHitung("nama_jenis_pengadaan", "jenis_pengadaan","POKJA PEMILIHAN 215", pokja.getC("nama_jenis_pengadaan", "jenis_pengadaan")[0].parameter).data / pokja.getPokja("POKJA PEMILIHAN 215").kelas}}</td>
                    <td>{{ pokja.getHitung("nama_jenis_pengadaan", "jenis_pengadaan","POKJA PEMILIHAN 216", pokja.getC("nama_jenis_pengadaan", "jenis_pengadaan")[0].parameter).data / pokja.getPokja("POKJA PEMILIHAN 216").kelas}}</td>
                    <td>{{ pokja.getHitung("nama_sumber_dana", "sumber_dana","POKJA PEMILIHAN 212", pokja.getC("nama_sumber_dana", "sumber_dana")[0].parameter).data / pokja.getPokja("POKJA PEMILIHAN 212").kelas}}</td>
                    <td>{{ pokja.getHitung("nama_sumber_dana", "sumber_dana","POKJA PEMILIHAN 214", pokja.getC("nama_sumber_dana", "sumber_dana")[0].parameter).data / pokja.getPokja("POKJA PEMILIHAN 214").kelas}}</td>
                    <td>{{ pokja.getHitung("nama_sumber_dana", "sumber_dana","POKJA PEMILIHAN 215", pokja.getC("nama_sumber_dana", "sumber_dana")[0].parameter).data / pokja.getPokja("POKJA PEMILIHAN 215").kelas}}</td>
                    <td>{{ pokja.getHitung("nama_sumber_dana", "sumber_dana","POKJA PEMILIHAN 216", pokja.getC("nama_sumber_dana", "sumber_dana")[0].parameter).data / pokja.getPokja("POKJA PEMILIHAN 216").kelas}}</td>
                    <td>{{ pokja.getHitung("nama_jenis_kontrak", "jenis_kontrak","POKJA PEMILIHAN 212", pokja.getC("nama_jenis_kontrak", "jenis_kontrak")[0].parameter).data / pokja.getPokja("POKJA PEMILIHAN 212").kelas}}</td>
                    <td>{{ pokja.getHitung("nama_jenis_kontrak", "jenis_kontrak","POKJA PEMILIHAN 214", pokja.getC("nama_jenis_kontrak", "jenis_kontrak")[0].parameter).data / pokja.getPokja("POKJA PEMILIHAN 214").kelas}}</td>
                    <td>{{ pokja.getHitung("nama_jenis_kontrak", "jenis_kontrak","POKJA PEMILIHAN 215", pokja.getC("nama_jenis_kontrak", "jenis_kontrak")[0].parameter).data / pokja.getPokja("POKJA PEMILIHAN 215").kelas}}</td>
                    <td>{{ pokja.getHitung("nama_jenis_kontrak", "jenis_kontrak","POKJA PEMILIHAN 216", pokja.getC("nama_jenis_kontrak", "jenis_kontrak")[0].parameter).data / pokja.getPokja("POKJA PEMILIHAN 216").kelas}}</td>
                    <td>{{ pokja.getHitung("range_pagu", "pagu","POKJA PEMILIHAN 212", pokja.getC("range_pagu", "pagu")[0].parameter).data / pokja.getPokja("POKJA PEMILIHAN 212").kelas}}</td>
                    <td>{{ pokja.getHitung("range_pagu", "pagu","POKJA PEMILIHAN 214", pokja.getC("range_pagu", "pagu")[0].parameter).data / pokja.getPokja("POKJA PEMILIHAN 214").kelas}}</td>
                    <td>{{ pokja.getHitung("range_pagu", "pagu","POKJA PEMILIHAN 215", pokja.getC("range_pagu", "pagu")[0].parameter).data / pokja.getPokja("POKJA PEMILIHAN 215").kelas}}</td>
                    <td>{{ pokja.getHitung("range_pagu", "pagu","POKJA PEMILIHAN 216", pokja.getC("range_pagu", "pagu")[0].parameter).data / pokja.getPokja("POKJA PEMILIHAN 216").kelas}}</td>
                    <td>{{ pokja.getPokja("POKJA PEMILIHAN 212").kelas / (pokja.getPokja("POKJA PEMILIHAN 212").kelas + pokja.getPokja("POKJA PEMILIHAN 214").kelas + pokja.getPokja("POKJA PEMILIHAN 215").kelas + pokja.getPokja("POKJA PEMILIHAN 216").kelas)}} </td>
                    <td>{{ pokja.getPokja("POKJA PEMILIHAN 214").kelas / (pokja.getPokja("POKJA PEMILIHAN 212").kelas + pokja.getPokja("POKJA PEMILIHAN 214").kelas + pokja.getPokja("POKJA PEMILIHAN 215").kelas + pokja.getPokja("POKJA PEMILIHAN 216").kelas)}} </td>
                    <td>{{ pokja.getPokja("POKJA PEMILIHAN 215").kelas / (pokja.getPokja("POKJA PEMILIHAN 212").kelas + pokja.getPokja("POKJA PEMILIHAN 214").kelas + pokja.getPokja("POKJA PEMILIHAN 215").kelas + pokja.getPokja("POKJA PEMILIHAN 216").kelas)}} </td>
                    <td>{{ pokja.getPokja("POKJA PEMILIHAN 216").kelas / (pokja.getPokja("POKJA PEMILIHAN 212").kelas + pokja.getPokja("POKJA PEMILIHAN 214").kelas + pokja.getPokja("POKJA PEMILIHAN 215").kelas + pokja.getPokja("POKJA PEMILIHAN 216").kelas)}} </td> 
                </tr>
                <tr>
                {% set pokja212 = pokja.getHitung("nama_jenis_pengadaan", "jenis_pengadaan","POKJA PEMILIHAN 212", pokja.getC("nama_jenis_pengadaan", "jenis_pengadaan")[0].parameter).data / pokja.getPokja("POKJA PEMILIHAN 212").kelas 
                    * pokja.getHitung("nama_sumber_dana", "sumber_dana","POKJA PEMILIHAN 212", pokja.getC("nama_sumber_dana", "sumber_dana")[0].parameter).data / pokja.getPokja("POKJA PEMILIHAN 212").kelas
                    * pokja.getHitung("nama_jenis_kontrak", "jenis_kontrak","POKJA PEMILIHAN 212", pokja.getC("nama_jenis_kontrak", "jenis_kontrak")[0].parameter).data / pokja.getPokja("POKJA PEMILIHAN 212").kelas
                    * pokja.getHitung("range_pagu", "pagu","POKJA PEMILIHAN 212", pokja.getC("range_pagu", "pagu")[0].parameter).data / pokja.getPokja("POKJA PEMILIHAN 212").kelas
                    * pokja.getPokja("POKJA PEMILIHAN 212").kelas / (pokja.getPokja("POKJA PEMILIHAN 212").kelas + pokja.getPokja("POKJA PEMILIHAN 214").kelas + pokja.getPokja("POKJA PEMILIHAN 215").kelas + pokja.getPokja("POKJA PEMILIHAN 216").kelas) %}
                {% set pokja214 = pokja.getHitung("nama_jenis_pengadaan", "jenis_pengadaan","POKJA PEMILIHAN 214", pokja.getC("nama_jenis_pengadaan", "jenis_pengadaan")[0].parameter).data / pokja.getPokja("POKJA PEMILIHAN 214").kelas
                    * pokja.getHitung("nama_sumber_dana", "sumber_dana","POKJA PEMILIHAN 214", pokja.getC("nama_sumber_dana", "sumber_dana")[0].parameter).data / pokja.getPokja("POKJA PEMILIHAN 214").kelas
                    * pokja.getHitung("nama_jenis_kontrak", "jenis_kontrak","POKJA PEMILIHAN 214", pokja.getC("nama_jenis_kontrak", "jenis_kontrak")[0].parameter).data / pokja.getPokja("POKJA PEMILIHAN 214").kelas
                    * pokja.getHitung("range_pagu", "pagu","POKJA PEMILIHAN 214", pokja.getC("range_pagu", "pagu")[0].parameter).data / pokja.getPokja("POKJA PEMILIHAN 214").kelas
                    * pokja.getPokja("POKJA PEMILIHAN 214").kelas / (pokja.getPokja("POKJA PEMILIHAN 212").kelas + pokja.getPokja("POKJA PEMILIHAN 214").kelas + pokja.getPokja("POKJA PEMILIHAN 215").kelas + pokja.getPokja("POKJA PEMILIHAN 216").kelas) %}
                {% set pokja215 = pokja.getHitung("nama_jenis_pengadaan", "jenis_pengadaan","POKJA PEMILIHAN 215", pokja.getC("nama_jenis_pengadaan", "jenis_pengadaan")[0].parameter).data / pokja.getPokja("POKJA PEMILIHAN 215").kelas
                    * pokja.getHitung("nama_sumber_dana", "sumber_dana","POKJA PEMILIHAN 215", pokja.getC("nama_sumber_dana", "sumber_dana")[0].parameter).data / pokja.getPokja("POKJA PEMILIHAN 215").kelas
                    * pokja.getHitung("nama_jenis_kontrak", "jenis_kontrak","POKJA PEMILIHAN 215", pokja.getC("nama_jenis_kontrak", "jenis_kontrak")[0].parameter).data / pokja.getPokja("POKJA PEMILIHAN 215").kelas
                    * pokja.getHitung("range_pagu", "pagu","POKJA PEMILIHAN 215", pokja.getC("range_pagu", "pagu")[0].parameter).data / pokja.getPokja("POKJA PEMILIHAN 215").kelas
                    * pokja.getPokja("POKJA PEMILIHAN 215").kelas / (pokja.getPokja("POKJA PEMILIHAN 212").kelas + pokja.getPokja("POKJA PEMILIHAN 214").kelas + pokja.getPokja("POKJA PEMILIHAN 215").kelas + pokja.getPokja("POKJA PEMILIHAN 216").kelas) %}
                {% set pokja216 = pokja.getHitung("nama_jenis_pengadaan", "jenis_pengadaan","POKJA PEMILIHAN 216", pokja.getC("nama_jenis_pengadaan", "jenis_pengadaan")[0].parameter).data / pokja.getPokja("POKJA PEMILIHAN 216").kelas
                    * pokja.getHitung("nama_sumber_dana", "sumber_dana","POKJA PEMILIHAN 216", pokja.getC("nama_sumber_dana", "sumber_dana")[0].parameter).data / pokja.getPokja("POKJA PEMILIHAN 216").kelas
                    * pokja.getHitung("nama_jenis_kontrak", "jenis_kontrak","POKJA PEMILIHAN 216", pokja.getC("nama_jenis_kontrak", "jenis_kontrak")[0].parameter).data / pokja.getPokja("POKJA PEMILIHAN 216").kelas
                    * pokja.getHitung("range_pagu", "pagu","POKJA PEMILIHAN 216", pokja.getC("range_pagu", "pagu")[0].parameter).data / pokja.getPokja("POKJA PEMILIHAN 216").kelas
                    * pokja.getPokja("POKJA PEMILIHAN 216").kelas / (pokja.getPokja("POKJA PEMILIHAN 212").kelas + pokja.getPokja("POKJA PEMILIHAN 214").kelas + pokja.getPokja("POKJA PEMILIHAN 215").kelas + pokja.getPokja("POKJA PEMILIHAN 216").kelas) %}
                    <td>POKJA PEMILIHAN 212</td>
                    <td>{{pokja.getHitung("nama_jenis_pengadaan", "jenis_pengadaan","POKJA PEMILIHAN 212", pokja.getC("nama_jenis_pengadaan", "jenis_pengadaan")[0].parameter).data / pokja.getPokja("POKJA PEMILIHAN 212").kelas }} 
                    * {{ pokja.getHitung("nama_sumber_dana", "sumber_dana","POKJA PEMILIHAN 212", pokja.getC("nama_sumber_dana", "sumber_dana")[0].parameter).data / pokja.getPokja("POKJA PEMILIHAN 212").kelas}}
                    * {{pokja.getHitung("nama_jenis_kontrak", "jenis_kontrak","POKJA PEMILIHAN 212", pokja.getC("nama_jenis_kontrak", "jenis_kontrak")[0].parameter).data / pokja.getPokja("POKJA PEMILIHAN 212").kelas}}
                    * {{pokja.getHitung("range_pagu", "pagu","POKJA PEMILIHAN 212", pokja.getC("range_pagu", "pagu")[0].parameter).data / pokja.getPokja("POKJA PEMILIHAN 212").kelas}}
                    * {{pokja.getPokja("POKJA PEMILIHAN 212").kelas / (pokja.getPokja("POKJA PEMILIHAN 212").kelas + pokja.getPokja("POKJA PEMILIHAN 214").kelas + pokja.getPokja("POKJA PEMILIHAN 215").kelas + pokja.getPokja("POKJA PEMILIHAN 216").kelas)}} 
                    = <b>{{ pokja212 }}</b></td>
                </tr>
                <tr>
                    <td>POKJA PEMILIHAN 214</td>
                    <td>{{pokja.getHitung("nama_jenis_pengadaan", "jenis_pengadaan","POKJA PEMILIHAN 214", pokja.getC("nama_jenis_pengadaan", "jenis_pengadaan")[0].parameter).data / pokja.getPokja("POKJA PEMILIHAN 214").kelas}}
                    * {{pokja.getHitung("nama_sumber_dana", "sumber_dana","POKJA PEMILIHAN 214", pokja.getC("nama_sumber_dana", "sumber_dana")[0].parameter).data / pokja.getPokja("POKJA PEMILIHAN 214").kelas}}
                    * {{pokja.getHitung("nama_jenis_kontrak", "jenis_kontrak","POKJA PEMILIHAN 214", pokja.getC("nama_jenis_kontrak", "jenis_kontrak")[0].parameter).data / pokja.getPokja("POKJA PEMILIHAN 214").kelas}}
                    * {{pokja.getHitung("range_pagu", "pagu","POKJA PEMILIHAN 214", pokja.getC("range_pagu", "pagu")[0].parameter).data / pokja.getPokja("POKJA PEMILIHAN 214").kelas}}
                    * {{pokja.getPokja("POKJA PEMILIHAN 214").kelas / (pokja.getPokja("POKJA PEMILIHAN 212").kelas + pokja.getPokja("POKJA PEMILIHAN 214").kelas + pokja.getPokja("POKJA PEMILIHAN 215").kelas + pokja.getPokja("POKJA PEMILIHAN 216").kelas)}}
                    <b>{{ pokja214 }}</b></td>
                </tr>
                <tr>
                    <td>POKJA PEMILIHAN 215</td>
                    <td>{{pokja.getHitung("nama_jenis_pengadaan", "jenis_pengadaan","POKJA PEMILIHAN 215", pokja.getC("nama_jenis_pengadaan", "jenis_pengadaan")[0].parameter).data / pokja.getPokja("POKJA PEMILIHAN 215").kelas}}
                    * {{pokja.getHitung("nama_sumber_dana", "sumber_dana","POKJA PEMILIHAN 215", pokja.getC("nama_sumber_dana", "sumber_dana")[0].parameter).data / pokja.getPokja("POKJA PEMILIHAN 215").kelas}}
                    * {{pokja.getHitung("nama_jenis_kontrak", "jenis_kontrak","POKJA PEMILIHAN 215", pokja.getC("nama_jenis_kontrak", "jenis_kontrak")[0].parameter).data / pokja.getPokja("POKJA PEMILIHAN 215").kelas}}
                    * {{pokja.getHitung("range_pagu", "pagu","POKJA PEMILIHAN 215", pokja.getC("range_pagu", "pagu")[0].parameter).data / pokja.getPokja("POKJA PEMILIHAN 215").kelas}}
                    * {{pokja.getPokja("POKJA PEMILIHAN 215").kelas / (pokja.getPokja("POKJA PEMILIHAN 212").kelas + pokja.getPokja("POKJA PEMILIHAN 214").kelas + pokja.getPokja("POKJA PEMILIHAN 215").kelas + pokja.getPokja("POKJA PEMILIHAN 216").kelas)}}
                    <b>{{ pokja215 }}</b></td>
                </tr>
                <tr>
                    <td>POKJA PEMILIHAN 216</td>
                    <td>{{pokja.getHitung("nama_jenis_pengadaan", "jenis_pengadaan","POKJA PEMILIHAN 216", pokja.getC("nama_jenis_pengadaan", "jenis_pengadaan")[0].parameter).data / pokja.getPokja("POKJA PEMILIHAN 216").kelas}}
                    * {{pokja.getHitung("nama_sumber_dana", "sumber_dana","POKJA PEMILIHAN 216", pokja.getC("nama_sumber_dana", "sumber_dana")[0].parameter).data / pokja.getPokja("POKJA PEMILIHAN 216").kelas}}
                    * {{pokja.getHitung("nama_jenis_kontrak", "jenis_kontrak","POKJA PEMILIHAN 216", pokja.getC("nama_jenis_kontrak", "jenis_kontrak")[0].parameter).data / pokja.getPokja("POKJA PEMILIHAN 216").kelas}}
                    * {{pokja.getHitung("range_pagu", "pagu","POKJA PEMILIHAN 216", pokja.getC("range_pagu", "pagu")[0].parameter).data / pokja.getPokja("POKJA PEMILIHAN 216").kelas}}
                    * {{pokja.getPokja("POKJA PEMILIHAN 216").kelas / (pokja.getPokja("POKJA PEMILIHAN 212").kelas + pokja.getPokja("POKJA PEMILIHAN 214").kelas + pokja.getPokja("POKJA PEMILIHAN 215").kelas + pokja.getPokja("POKJA PEMILIHAN 216").kelas)}}
                    <b>{{ pokja216 }}</b></td>
                </tr>
            </tbody>
        </table>

        <h4>KESIMPULAN DATA KASUS TERBARU </h4>
        <br>
        <table border="5" class="table table-hover">
            <thead class="bg-secondary text-white">
                <tr>
            <th class="align-middle text-center">NAMA POKJA</th>
            <th class="align-middle text-center">JENIS PENGADAAN</th>
            <th class="align-middle text-center">SUMBER DANA</th>
            <th class="align-middle text-center">JENIS KONTRAK</th>
            <th class="align-middle text-center">RANGE PAGU</th>
        </tr>
            </thead>
            <tbody>
                <tr>
                    {% if pokja212 > pokja214 %}
                        <td>{{pokja212}}</td>
                    {% else %}
                        <td>{{pokja214}}</td>
                    {% endif %}
                    <td>{{ pokja.getLeftJoin.nama_jenis_pengadaan}}</td>
                    <td>{{ pokja.getLeftJoin.nama_sumber_dana}}</td>
                    <td>{{ pokja.getLeftJoin.nama_jenis_kontrak}}</td>
                    <td>{{ pokja.getLeftJoin.range_pagu}}</td>
                </tr>
            </tbody>
        </table>

        </div>
        
        <h4>PROBABILITAS KELAS POKJA</h4>
        <br>
        <table border="5" class="table table-hover">
            <thead class="bg-secondary text-white">
                <tr>
            <th rowspan="2" class="align-middle text-center">KELAS</th>
            <th colspan="4" class="align-middle text-center">JUMLAH</th>
            <th colspan="4" class="align-middle text-center">PROBABILITAS</th>
        </tr>
        <tr>
            <th>POKJA PEMILIHAN 212</th>
            <th>POKJA PEMILIHAN 214</th>
            <th>POKJA PEMILIHAN 215</th>
            <th>POKJA PEMILIHAN 216</th>
            <th>POKJA PEMILIHAN 212</th>
            <th>POKJA PEMILIHAN 214</th>
            <th>POKJA PEMILIHAN 215</th>
            <th>POKJA PEMILIHAN 216</th>
        </tr>
            </thead>
            <tbody>
                <tr>
                    <td>PROBABILITAS KELAS</td>
                    <td>{{pokja.getPokja("POKJA PEMILIHAN 212").kelas}}</td>
                    <td>{{pokja.getPokja("POKJA PEMILIHAN 214").kelas}}</td>
                    <td>{{pokja.getPokja("POKJA PEMILIHAN 215").kelas}}</td>
                    <td>{{pokja.getPokja("POKJA PEMILIHAN 216").kelas}}</td>
                    <td>{{ pokja.getPokja("POKJA PEMILIHAN 212").kelas / (pokja.getPokja("POKJA PEMILIHAN 212").kelas + pokja.getPokja("POKJA PEMILIHAN 214").kelas + pokja.getPokja("POKJA PEMILIHAN 215").kelas + pokja.getPokja("POKJA PEMILIHAN 216").kelas)}} </td>
                    <td>{{ pokja.getPokja("POKJA PEMILIHAN 214").kelas / (pokja.getPokja("POKJA PEMILIHAN 212").kelas + pokja.getPokja("POKJA PEMILIHAN 214").kelas + pokja.getPokja("POKJA PEMILIHAN 215").kelas + pokja.getPokja("POKJA PEMILIHAN 216").kelas)}} </td>
                    <td>{{ pokja.getPokja("POKJA PEMILIHAN 215").kelas / (pokja.getPokja("POKJA PEMILIHAN 212").kelas + pokja.getPokja("POKJA PEMILIHAN 214").kelas + pokja.getPokja("POKJA PEMILIHAN 215").kelas + pokja.getPokja("POKJA PEMILIHAN 216").kelas)}} </td>
                    <td>{{ pokja.getPokja("POKJA PEMILIHAN 216").kelas / (pokja.getPokja("POKJA PEMILIHAN 212").kelas + pokja.getPokja("POKJA PEMILIHAN 214").kelas + pokja.getPokja("POKJA PEMILIHAN 215").kelas + pokja.getPokja("POKJA PEMILIHAN 216").kelas)}} </td>
                </tr>
            </tbody>
        </table>

        <br>
        <h4>PROBABILITAS PARAMETER JENIS PENGADAAN</h4>
        <br>
        <table border="5" class="table table-hover">
            <thead class="bg-secondary text-white">
        <tr>
            <th rowspan="2" class="align-middle text-center">KELAS JENIS PENGADAAN</th>
            <th colspan="4" class="align-middle text-center">JUMLAH</th>
            <th colspan="4" class="align-middle text-center">PROBABILITAS</th>
        </tr>
        <tr>
            <th>POKJA PEMILIHAN 212</th>
            <th>POKJA PEMILIHAN 214</th>
            <th>POKJA PEMILIHAN 215</th>
            <th>POKJA PEMILIHAN 216</th>
            <th>POKJA PEMILIHAN 212</th>
            <th>POKJA PEMILIHAN 214</th>
            <th>POKJA PEMILIHAN 215</th>
            <th>POKJA PEMILIHAN 216</th>
        </tr>
            </thead>
            <tbody>
            {% for num in 0..3 %}
                <tr>
                    <td>{{ pokja.getC("nama_jenis_pengadaan", "jenis_pengadaan")[num].parameter}}</td>
                    <td>{{ pokja.getHitung("nama_jenis_pengadaan", "jenis_pengadaan","POKJA PEMILIHAN 212", pokja.getC("nama_jenis_pengadaan", "jenis_pengadaan")[num].parameter).data}}</td>
                    <td>{{ pokja.getHitung("nama_jenis_pengadaan", "jenis_pengadaan","POKJA PEMILIHAN 214", pokja.getC("nama_jenis_pengadaan", "jenis_pengadaan")[num].parameter).data}}</td>
                    <td>{{ pokja.getHitung("nama_jenis_pengadaan", "jenis_pengadaan","POKJA PEMILIHAN 215", pokja.getC("nama_jenis_pengadaan", "jenis_pengadaan")[num].parameter).data}}</td>
                    <td>{{ pokja.getHitung("nama_jenis_pengadaan", "jenis_pengadaan","POKJA PEMILIHAN 216", pokja.getC("nama_jenis_pengadaan", "jenis_pengadaan")[num].parameter).data}}</td>
                    <td>{{ pokja.getHitung("nama_jenis_pengadaan", "jenis_pengadaan","POKJA PEMILIHAN 212", pokja.getC("nama_jenis_pengadaan", "jenis_pengadaan")[num].parameter).data / pokja.getPokja("POKJA PEMILIHAN 212").kelas}}</td>
                    <td>{{ pokja.getHitung("nama_jenis_pengadaan", "jenis_pengadaan","POKJA PEMILIHAN 214", pokja.getC("nama_jenis_pengadaan", "jenis_pengadaan")[num].parameter).data / pokja.getPokja("POKJA PEMILIHAN 214").kelas}}</td>
                    <td>{{ pokja.getHitung("nama_jenis_pengadaan", "jenis_pengadaan","POKJA PEMILIHAN 215", pokja.getC("nama_jenis_pengadaan", "jenis_pengadaan")[num].parameter).data / pokja.getPokja("POKJA PEMILIHAN 215").kelas}}</td>
                    <td>{{ pokja.getHitung("nama_jenis_pengadaan", "jenis_pengadaan","POKJA PEMILIHAN 216", pokja.getC("nama_jenis_pengadaan", "jenis_pengadaan")[num].parameter).data / pokja.getPokja("POKJA PEMILIHAN 216").kelas}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <br>
        <h4>PROBABILITAS PARAMETER SUMBER DANA</h4>
        <br>
        <table border="5" class="table table-hover">
            <thead class="bg-secondary text-white">
        <tr>
            <th rowspan="2" class="align-middle text-center">KELAS SUMBER DANA</th>
            <th colspan="4" class="align-middle text-center">JUMLAH</th>
            <th colspan="4" class="align-middle text-center">PROBABILITAS</th>
        </tr>
        <tr>
            <th>POKJA PEMILIHAN 212</th>
            <th>POKJA PEMILIHAN 214</th>
            <th>POKJA PEMILIHAN 215</th>
            <th>POKJA PEMILIHAN 216</th>
            <th>POKJA PEMILIHAN 212</th>
            <th>POKJA PEMILIHAN 214</th>
            <th>POKJA PEMILIHAN 215</th>
            <th>POKJA PEMILIHAN 216</th>
        </tr>
            </thead>
            <tbody>
            {% for num in 0..3 %}
                <tr>
                    <td>{{ pokja.getC("nama_sumber_dana", "sumber_dana")[num].parameter}}</td>
                    <td>{{ pokja.getHitung("nama_sumber_dana", "sumber_dana","POKJA PEMILIHAN 212", pokja.getC("nama_sumber_dana", "sumber_dana")[num].parameter).data}}</td>
                    <td>{{ pokja.getHitung("nama_sumber_dana", "sumber_dana","POKJA PEMILIHAN 214", pokja.getC("nama_sumber_dana", "sumber_dana")[num].parameter).data}}</td>
                    <td>{{ pokja.getHitung("nama_sumber_dana", "sumber_dana","POKJA PEMILIHAN 215", pokja.getC("nama_sumber_dana", "sumber_dana")[num].parameter).data}}</td>
                    <td>{{ pokja.getHitung("nama_sumber_dana", "sumber_dana","POKJA PEMILIHAN 216", pokja.getC("nama_sumber_dana", "sumber_dana")[num].parameter).data}}</td>
                    <td>{{ pokja.getHitung("nama_sumber_dana", "sumber_dana","POKJA PEMILIHAN 212", pokja.getC("nama_sumber_dana", "sumber_dana")[num].parameter).data / pokja.getPokja("POKJA PEMILIHAN 212").kelas}}</td>
                    <td>{{ pokja.getHitung("nama_sumber_dana", "sumber_dana","POKJA PEMILIHAN 214", pokja.getC("nama_sumber_dana", "sumber_dana")[num].parameter).data / pokja.getPokja("POKJA PEMILIHAN 214").kelas}}</td>
                    <td>{{ pokja.getHitung("nama_sumber_dana", "sumber_dana","POKJA PEMILIHAN 215", pokja.getC("nama_sumber_dana", "sumber_dana")[num].parameter).data / pokja.getPokja("POKJA PEMILIHAN 215").kelas}}</td>
                    <td>{{ pokja.getHitung("nama_sumber_dana", "sumber_dana","POKJA PEMILIHAN 216", pokja.getC("nama_sumber_dana", "sumber_dana")[num].parameter).data / pokja.getPokja("POKJA PEMILIHAN 216").kelas}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <br>
        <h4>PROBABILITAS PARAMETER JENIS KONTRAK</h4>
        <br>
        <table border="5" class="table table-hover">
            <thead class="bg-secondary text-white">
        <tr>
            <th rowspan="2" class="align-middle text-center">KELAS JENIS KONTRAK</th>
            <th colspan="4" class="align-middle text-center">JUMLAH</th>
            <th colspan="4" class="align-middle text-center">PROBABILITAS</th>
        </tr>
        <tr>
            <th>POKJA PEMILIHAN 212</th>
            <th>POKJA PEMILIHAN 214</th>
            <th>POKJA PEMILIHAN 215</th>
            <th>POKJA PEMILIHAN 216</th>
            <th>POKJA PEMILIHAN 212</th>
            <th>POKJA PEMILIHAN 214</th>
            <th>POKJA PEMILIHAN 215</th>
            <th>POKJA PEMILIHAN 216</th>
        </tr>
            </thead>
            <tbody>
            {% for num in 0..3 %}
                <tr>
                    <td>{{ pokja.getC("nama_jenis_kontrak", "jenis_kontrak")[num].parameter}}</td>
                    <td>{{ pokja.getHitung("nama_jenis_kontrak", "jenis_kontrak","POKJA PEMILIHAN 212", pokja.getC("nama_jenis_kontrak", "jenis_kontrak")[num].parameter).data}}</td>
                    <td>{{ pokja.getHitung("nama_jenis_kontrak", "jenis_kontrak","POKJA PEMILIHAN 214", pokja.getC("nama_jenis_kontrak", "jenis_kontrak")[num].parameter).data}}</td>
                    <td>{{ pokja.getHitung("nama_jenis_kontrak", "jenis_kontrak","POKJA PEMILIHAN 215", pokja.getC("nama_jenis_kontrak", "jenis_kontrak")[num].parameter).data}}</td>
                    <td>{{ pokja.getHitung("nama_jenis_kontrak", "jenis_kontrak","POKJA PEMILIHAN 216", pokja.getC("nama_jenis_kontrak", "jenis_kontrak")[num].parameter).data}}</td>
                    <td>{{ pokja.getHitung("nama_jenis_kontrak", "jenis_kontrak","POKJA PEMILIHAN 212", pokja.getC("nama_jenis_kontrak", "jenis_kontrak")[num].parameter).data / pokja.getPokja("POKJA PEMILIHAN 212").kelas}}</td>
                    <td>{{ pokja.getHitung("nama_jenis_kontrak", "jenis_kontrak","POKJA PEMILIHAN 214", pokja.getC("nama_jenis_kontrak", "jenis_kontrak")[num].parameter).data / pokja.getPokja("POKJA PEMILIHAN 214").kelas}}</td>
                    <td>{{ pokja.getHitung("nama_jenis_kontrak", "jenis_kontrak","POKJA PEMILIHAN 215", pokja.getC("nama_jenis_kontrak", "jenis_kontrak")[num].parameter).data / pokja.getPokja("POKJA PEMILIHAN 215").kelas}}</td>
                    <td>{{ pokja.getHitung("nama_jenis_kontrak", "jenis_kontrak","POKJA PEMILIHAN 216", pokja.getC("nama_jenis_kontrak", "jenis_kontrak")[num].parameter).data / pokja.getPokja("POKJA PEMILIHAN 216").kelas}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <br>
        <h4>PROBABILITAS PARAMETER PAGU</h4>
        <br>
        <table border="5" class="table table-hover">
            <thead class="bg-secondary text-white">
        <tr>
            <th rowspan="2" class="align-middle text-center">KELAS PAGU</th>
            <th colspan="4" class="align-middle text-center">JUMLAH</th>
            <th colspan="4" class="align-middle text-center">PROBABILITAS</th>
        </tr>
        <tr>
            <th>POKJA PEMILIHAN 212</th>
            <th>POKJA PEMILIHAN 214</th>
            <th>POKJA PEMILIHAN 215</th>
            <th>POKJA PEMILIHAN 216</th>
            <th>POKJA PEMILIHAN 212</th>
            <th>POKJA PEMILIHAN 214</th>
            <th>POKJA PEMILIHAN 215</th>
            <th>POKJA PEMILIHAN 216</th>
        </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ pokja.getC("range_pagu", "pagu")[0].parameter}}</td>
                    <td>{{ pokja.getHitung("range_pagu", "pagu","POKJA PEMILIHAN 212", pokja.getC("range_pagu", "pagu")[0].parameter).data}}</td>
                    <td>{{ pokja.getHitung("range_pagu", "pagu","POKJA PEMILIHAN 214", pokja.getC("range_pagu", "pagu")[0].parameter).data}}</td>
                    <td>{{ pokja.getHitung("range_pagu", "pagu","POKJA PEMILIHAN 215", pokja.getC("range_pagu", "pagu")[0].parameter).data}}</td>
                    <td>{{ pokja.getHitung("range_pagu", "pagu","POKJA PEMILIHAN 216", pokja.getC("range_pagu", "pagu")[0].parameter).data}}</td>
                    <td>{{ pokja.getHitung("range_pagu", "pagu","POKJA PEMILIHAN 212", pokja.getC("range_pagu", "pagu")[0].parameter).data / pokja.getPokja("POKJA PEMILIHAN 212").kelas}}</td>
                    <td>{{ pokja.getHitung("range_pagu", "pagu","POKJA PEMILIHAN 214", pokja.getC("range_pagu", "pagu")[0].parameter).data / pokja.getPokja("POKJA PEMILIHAN 214").kelas}}</td>
                    <td>{{ pokja.getHitung("range_pagu", "pagu","POKJA PEMILIHAN 215", pokja.getC("range_pagu", "pagu")[0].parameter).data / pokja.getPokja("POKJA PEMILIHAN 215").kelas}}</td>
                    <td>{{ pokja.getHitung("range_pagu", "pagu","POKJA PEMILIHAN 216", pokja.getC("range_pagu", "pagu")[0].parameter).data / pokja.getPokja("POKJA PEMILIHAN 216").kelas}}</td>
                </tr>
                    <td>{{ pokja.getC("range_pagu", "pagu")[1].parameter}}</td>
                    <td>{{ pokja.getHitung("range_pagu", "pagu","POKJA PEMILIHAN 212", pokja.getC("range_pagu", "pagu")[1].parameter).data}}</td>
                    <td>{{ pokja.getHitung("range_pagu", "pagu","POKJA PEMILIHAN 214", pokja.getC("range_pagu", "pagu")[1].parameter).data}}</td>
                    <td>{{ pokja.getHitung("range_pagu", "pagu","POKJA PEMILIHAN 215", pokja.getC("range_pagu", "pagu")[1].parameter).data}}</td>
                    <td>{{ pokja.getHitung("range_pagu", "pagu","POKJA PEMILIHAN 216", pokja.getC("range_pagu", "pagu")[1].parameter).data}}</td>
                    <td>{{ pokja.getHitung("range_pagu", "pagu","POKJA PEMILIHAN 212", pokja.getC("range_pagu", "pagu")[1].parameter).data / pokja.getPokja("POKJA PEMILIHAN 212").kelas}}</td>
                    <td>{{ pokja.getHitung("range_pagu", "pagu","POKJA PEMILIHAN 214", pokja.getC("range_pagu", "pagu")[1].parameter).data / pokja.getPokja("POKJA PEMILIHAN 214").kelas}}</td>
                    <td>{{ pokja.getHitung("range_pagu", "pagu","POKJA PEMILIHAN 215", pokja.getC("range_pagu", "pagu")[1].parameter).data / pokja.getPokja("POKJA PEMILIHAN 215").kelas}}</td>
                    <td>{{ pokja.getHitung("range_pagu", "pagu","POKJA PEMILIHAN 216", pokja.getC("range_pagu", "pagu")[1].parameter).data / pokja.getPokja("POKJA PEMILIHAN 216").kelas}}</td>
                <tr>
                    <td>{{ pokja.getC("range_pagu", "pagu")[2].parameter}}</td>
                    <td>{{ pokja.getHitung("range_pagu", "pagu","POKJA PEMILIHAN 212", pokja.getC("range_pagu", "pagu")[2].parameter).data}}</td>
                    <td>{{ pokja.getHitung("range_pagu", "pagu","POKJA PEMILIHAN 214", pokja.getC("range_pagu", "pagu")[2].parameter).data}}</td>
                    <td>{{ pokja.getHitung("range_pagu", "pagu","POKJA PEMILIHAN 215", pokja.getC("range_pagu", "pagu")[2].parameter).data}}</td>
                    <td>{{ pokja.getHitung("range_pagu", "pagu","POKJA PEMILIHAN 216", pokja.getC("range_pagu", "pagu")[2].parameter).data}}</td>
                    <td>{{ pokja.getHitung("range_pagu", "pagu","POKJA PEMILIHAN 212", pokja.getC("range_pagu", "pagu")[2].parameter).data / pokja.getPokja("POKJA PEMILIHAN 212").kelas}}</td>
                    <td>{{ pokja.getHitung("range_pagu", "pagu","POKJA PEMILIHAN 214", pokja.getC("range_pagu", "pagu")[2].parameter).data / pokja.getPokja("POKJA PEMILIHAN 214").kelas}}</td>
                    <td>{{ pokja.getHitung("range_pagu", "pagu","POKJA PEMILIHAN 215", pokja.getC("range_pagu", "pagu")[2].parameter).data / pokja.getPokja("POKJA PEMILIHAN 215").kelas}}</td>
                    <td>{{ pokja.getHitung("range_pagu", "pagu","POKJA PEMILIHAN 216", pokja.getC("range_pagu", "pagu")[2].parameter).data / pokja.getPokja("POKJA PEMILIHAN 216").kelas}}</td>
                </tr>
                <tr>
                </tr>
            </tbody>
        </table>
        

{% endblock %}

{% block actions %}
<script>
		function showNewData(){
			var x = document.getElementById("newData");
			if (x.style.display === "none") {
				x.style.display = "table-row";
			} else {
				x.style.display ="none"
			}
		}
</script>
    <div class="pull-right">
        <button type="button" class="btn btn-sm btn-outline-warning" onclick="showNewData()">
            <i class="fa fa-filter"></i> <span>{{ 'New Data'|trans }}</span>
        </button>
    </div>
    <div class="pull-right">
        <a class="btn btn-sm btn-outline-success" href="{{ path('app_backend_perhitungan_create') }}" data-toggle="modal" data-target="#modal">
        <span class="fa fa-plus"></span> {{ 'create'|trans }}</a>
    </div>
    <div class="pull-right">
        <a class="btn btn-sm btn-outline-primary" href="{{ path('app_backend_perhitungan_data') }}">
        <span class="fa fa-list"></span> {{ 'Data'|trans }}</a>
    </div>
{% endblock %}