{% extends '@BaseController/modal-layout.html.twig' %}

{% block title %}{{ 'show'|trans}} {{ 'datatraining'|trans }}{% endblock %}

{% block content %}
    
    <table class="table table-bordered table-hover">
        <tbody>
            {# <tr>
                <th width="30%">Id</th>
                <td>{{ data_training.id }}</td>
            </tr> #}
            <tr>
                <th width="30%">Jenis Pengadaan</th>
                <td>{{ dtTesting.JenisPengadaan }}</td>
            </tr>
            <tr>
                <th width="30%">Sumber Dana</th>
                <td>{{ dtTesting.SumberDana }}</td>
            </tr>
            <tr>
                <th width="30%">Jenis Paket</th>
                <td>{{ dtTesting.JenisKontrak }}</td>
            </tr>
            <tr>
                <th width="30%">Pagu</th>
                <td>{{ dtTesting.pagu }}</td>
            </tr>
        </tbody>
    </table>
        
{% endblock %} 
    
