{% extends '@User/security/base.html.twig' %}

{% block title %}{{ 'regis_page'|trans }}{% endblock %}

{% block titlePage %}{{'regis_page'|trans}}{% endblock %}

{% block body %}
    <div class="content-login">
      <div class="content-inner-login">
         <div class="card-login">
            <div class="card-login__header">
               <h3 class="mb-0" style="color: #3c4858;">Silahkan Registrasi Akun</h3>
               <div class="line-divider"></div>
            </div>
            {{ form_start(form) }}
            {{ form_end(form) }}
            <a class="btn btn-success" href="" role="button">Register</a>
            <a class="btn btn-danger" href="{{ path('kmj_user_login') }}" role="button">Back</a>
         </div>
      </div>
   </div>
   
            
{% endblock %}