<div class="breadcrumb">
    {% for breadcrumb in breadcrumbs %}
        {% if breadcrumb.isLast() %}
        <div class="breadcrumb-item active" aria-current="page">
            {{ breadcrumb.getIcon()|raw }}
            <span><strong>{{ breadcrumb.getLabel() }}</strong></span>
        </div>
        <div style="position:absolute; right:25px;">
            {{ "now"|date(timezone="Asia/Jakarta") }}
        </div>
        {% else %}
        <div class="breadcrumb-item">
            {{ breadcrumb.getIcon()|raw }}
            <a href="{{ (breadcrumb.getUrl()) ? breadcrumb.getUrl():'javascript:;' }}"><strong>{{ breadcrumb.getLabel() }}</strong></a>
        </div>
        {% endif %}
    {% endfor %}
</div>