<ol class="breadcrumb">
    {% for breadcrumb in breadcrumbs %}
        {% if breadcrumb.isLast() %}
        <li class="breadcrumb-item active" aria-current="page">
            {{ breadcrumb.getIcon()|raw }}
            <span><strong>{{ breadcrumb.getLabel() }}</strong></span>
        </li>
        {% else %}
        <li class="breadcrumb-item">
            {{ breadcrumb.getIcon()|raw }}
            <a href="{{ (breadcrumb.getUrl()) ? breadcrumb.getUrl():'javascript:;' }}"><strong>{{ breadcrumb.getLabel() }}</strong></a>
        </li>
        {% endif %}
    {% endfor %}
</ol>