<aside class="sidebar">
    <div class="sidebar-start">
        <div class="sidebar-head">
            <a href="javascript:;" class="logo-wrapper" title="Home">
                <span class="sr-only">Home</span>
                <span class="icon logo" aria-hidden="true"></span>
                <div class="logo-text">
                    <span class="logo-title">{{ 'skripsi'|trans }}</span>
                </div>
            </a>
        </div>
       <div class="sidebar-body">
            <ul class="sidebar-body-menu">
                <li>
                    <a class="content" href="{{ path('dashboard_index') }}">
                        <span class="icon document" aria-hidden="true"></span>{{ 'dash'|trans }}
                        </span>
                    </a>
                </li>
            </ul>
            <ul class="sidebar-body-menu">
                <li>
                    <a class="show-cat-btn" href="##">
                        <span class="icon document" aria-hidden="true"></span>{{ 'perhitungan'|trans }}
                        </span>
                    </a>
                </li>
            </ul>
            <ul class="sidebar-body-menu">
                <li>
                    <a class="show-cat-btn" href="##">
                        <span class="icon document" aria-hidden="true"></span>{{ 'hasil_klas'|trans }}
                        </span>
                    </a>
                </li>
            </ul>
            <ul class="sidebar-body-menu">
                <li>
                    <a class="show-cat-btn" href="##">
                        <span class="icon document" aria-hidden="true"></span>{{ 'master'|trans }}
                            <span class="category__btn transparent-btn" title="Open list">
                            <span class="sr-only">Open list</span>
                            <span class="icon arrow-down" aria-hidden="true"></span>
                        </span>
                    </a>
                    <ul class="cat-sub-menu">
                       <li>
                           <a href="{{ path('app_pokja_index') }}">{{ 'dt_pokja'|trans }}</a>
                           <a href="{{ path('app_data_training_index') }}">{{ 'dt_training'|trans }}</a>
                       </li>
                    </ul>
                </li>
            </ul>
       </div>
    </div>
 </aside>