{{ form_start(filter) }}
<tr>
    <td>{{ form_widget(filter.no)}}</td>
            <td>{{ form_widget(filter.pokja) }}</td>
            <td>{{ form_widget(filter.jenis_pengadaan) }}</td>
            <td>{{ form_widget(filter.sumber_dana) }}</td>
            <td>{{ form_widget(filter.jenis_kontrak )}}</td>
            <td>{{ form_widget(filter.pagu) }}</td>
</tr>
{{ form_end(filter) }}