{% extends '@BaseController/modal-layout.html.twig' %}

{% block title %}{{ 'show'|trans}} {{ 'datatraining'|trans }}{% endblock %}

{% block content %}
    
    <table class="table table-bordered table-hover">
        <tbody>
            {# <tr>
                <th width="30%">Id</th>
                <td>{{ data_training.id }}</td>
            </tr> #}
            <tr>
                <th width="30%">Nama Kelompok Kerja</th>
                <td>{{ data_training.Pokja }}</td>
            </tr>
            <tr>
                <th width="30%">Jenis Pengadaan</th>
                <td>{{ data_training.JenisPengadaan }}</td>
            </tr>
            <tr>
                <th width="30%">Sumber Dana</th>
                <td>{{ data_training.SumberDana }}</td>
            </tr>
            <tr>
                <th width="30%">Jenis Paket</th>
                <td>{{ data_training.JenisKontrak }}</td>
            </tr>
            <tr>
                <th width="30%">Pagu</th>
                <td>{{ data_training.pagu }}</td>
            </tr>
        </tbody>
    </table>
        
{% endblock %} 
    
